<div>
  <h3><strong>King <%= prompt.king.first_name_and_last_initial %></strong> has issued the following decree:</h3>

  <div class="panel-default">
    <div class="panel-heading">
      <h2 class="panel-title prompt-content">
        <strong>"<%= prompt.content %>"</strong>
      </h2>
      <% if prompt.current %>
        <h3>
          <%= "#{prompt.remaining_votes} votes remaining" %>
        </h3>
      <% end %>
    </div>
    <div class="panel-body">
      <% if logged_in? && prompt.current && !current_user.already_responded?(prompt.id) && !prompt.vote_total_reached? %>
        <%= render partial: 'responses/form', locals: {prompt: prompt} %>
        <hr />
      <% end %>

      <%= render partial: prompt.responses, spacer_template: "responses/spacer" %>
    </div>
  </div>
</div>
<br />
<br />
