<!DOCTYPE html>
<html>
  <head>
    <title>KingOfTheSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> KING OF THE SITE </h1>
    <% if logged_in? %>
      Signed in as <%= current_user.first_name_and_last_initial %>
      <%=link_to "Sign Out", "signout" %>
    <% else %>
      <%= link_to "Sign In", "/auth/facebook", id: "sign_in" %>
    <% end %>

    <%= yield %>
  </body>
</html>
